/* styles.css */
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .bg-gray-900 {
    background-color: #1a202c; /* Color oscuro */
  }
  
  .bg-white {
    background-color: #ffffff; /* Color claro */
  }
  
  .text-white {
    color: #ffffff; /* Texto blanco */
  }
  
  .text-black {
    color: #000000; /* Texto negro */
  }